@page
@model DuendeIdP.Pages.Home.Index
@{
}
<div class="IdpInitiatedSso-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Welcome to DuendeIdP IdP-Initiated SSO
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h2>Log in using IdP-Initiated SSO</h2>
            <p>

            </p>
            @foreach (var sp in Model.View.IdpInitiatedSsoEnabledProviders)
            {
                <form asp-page="/IdpInitiatedSso/Index">
                    <input class="form-control" placeholder="ServiceProviderId" asp-for="Input.ServiceProviderId" value="@sp.EntityId" />
                    <button type="submit">IdpInitiatedSso</button>
                </form>
            }
            
        </div>
    </div>
</div>
